<div class="card">
	<div class="card-blur">
		<img [src]="track().album.images.at(0)?.url" alt="Album cover">
	</div>

	<img [src]="track().album.images.at(0)?.url" alt="Album cover">

	<div class="track-info">
		<a class="track-name" [href]="track().external_urls.spotify">{{ track().name }}</a>
		<div class="track-artists">
			@for (artist of track().artists; track $index) {
				<a [href]="artist.external_urls.spotify">{{ artist.name }}</a>
				@if (!$last) {
					<span>, </span>
				}
			}
		</div>
	</div>
</div>
