<table>
	<tr>
		<th>#</th>
		<th>Title & Artist</th>
		<th>Length</th>
	</tr>

	@for (track of tracks(); track $index; ) {
		<tr>
			<td>{{ $index + 1 }}</td>
			<td class="title-and-artist">
				<img [src]="track.spotify_large_image_link" alt="Album cover">

				<div>
					<a class="track()-name"
					   [href]="'https://open.spotify.com/track()/' + track.spotify_id">{{ track.spotify_name }}</a>
					<div class="track()-artists">

						@for (artist of track.spotify_artists; track $index) {
							<a [href]="'https://open.spotify.com/artist/' + artist.spotify_id">{{ artist.name }}</a>
							@if (!$last) {
								<span>, </span>
							}
						}
					</div>
				</div>
			</td>

			<td>{{ millisecondsToTimeString(track.length_ms) }}</td>
		</tr>
	}
</table>
