<table>
	<tr>
		<th>#</th>
		<th>Title & Artist</th>
		<th>Length</th>
	</tr>

	@for (track of tracks(); track $index; ) {
		<tr>
			<td>{{ $index + 1 }}</td>
			<td class="title-and-artist">
				<img [src]="track.album.images.at(track.album.images.length - 1)?.url" alt="Album cover">

				<div>
					<a class="track-name" [href]="track.external_urls.spotify">{{ track.name }}</a>
					<div class="track-artists">
						{{ artists()[$index] }}
					</div>
				</div>
			</td>

			<td>{{millisecondsToTimeString(track.duration_ms) }}</td>
		</tr>
	}
</table>
