@if (isLoggedIn$ | async) {


}

@if (isLoadingUserData$ | async) {
	<div class="pill loading">Loading...</div>
} @else {
	@if (isLoggedIn$ | async) {
		<button class="pill"
				(click)="this.popoverOpen.set(!this.popoverOpen())"
		>
			Logged in as
			{{ (currentUserData$ | async)?.discord_display_name }}

			@if (popoverOpen()) {
				<div class="popover">
					<button (click)="logOut()">Log out</button>
				</div>
			}
		</button>
	} @else {
		<a class="pill not-logged-in" [href]="environment.api_prefix + '/auth/setup/discord'">
			Not logged in
		</a>
	}
}

