<table>
	<tr>
		<th>#</th>
		<th>Title & Artist</th>
		<th>Length</th>
		<th>Request count</th>
	</tr>

	@for (track of tracks(); track $index; ) {
		<tr>
			<td>{{ $index + 1 }}</td>
			<td class="title-and-artist">
				<img [src]="track.song.spotify_large_image_link" alt="Album cover">

				<div>
					<a class="track-name" [href]="'https://open.spotify.com/track/' + track.song.spotify_id">{{ track.song.spotify_name }}</a>
					<div class="track-artists">

						@for (artist of track.song.spotify_artists; track $index) {
							<a [href]="'https://open.spotify.com/artist/' + artist.spotify_id">{{ artist.spotify_name }}</a>
							@if (!$last) {
								<span>, </span>
							}
						}
					</div>
				</div>
			</td>

			<td>{{millisecondsToTimeString(track.song.length_ms) }}</td>
			<td>{{ track.request_count }}</td>
		</tr>
	}

</table>
