<div class="center">
	@if (playbackState.isPlaying$ | async) {
		<section>
			<h1>Currently listening to</h1>
			<app-track-card [track]="(playbackState.playbackState$ | async)?.item!"></app-track-card>
			<app-playback-state-display
				[playbackState]="(playbackState.playbackState$ | async)!"></app-playback-state-display>
		</section>


		<section>
			<h1>Submit songs</h1>

			@if (authService.isLoggedIn$ | async) {
				<form class="request-form" [formGroup]="addToQueueForm" (ngSubmit)="addToQueue()">
					<input placeholder="Song link" type="text" [formControl]="addToQueueForm.controls.url">
					<button type="submit" [disabled]="!addToQueueForm.valid">
						@if (playbackState.rateLimitCountdown$ | async) {
							{{ playbackState.rateLimitCountdown$ | async }}
						} @else {
							Add to queue
						}

					</button>
				</form>
			} @else {
				<p>You need to be logged in to submit songs!</p>
			}
		</section>


		<section>
			<h1>Current queue:</h1>
			@if ((playbackState.queue$ | async)?.queue !== undefined) {
				<app-track-list [tracks]="(playbackState.queue$ | async)?.queue!"></app-track-list>
			}
		</section>

	} @else {
		@if (playbackState.isInitialLoad$ | async) {
			<div class="vertical-center">
				<app-spinner></app-spinner>
				<h1>Loading playback state...</h1>
			</div>

		} @else {
			<section>
				<h1>Not online :(</h1>

				<h3>No songs can be submitted, because I'm offline on Spotify.</h3>
			</section>
		}

	}

	<section class="stats">
		<h1>Stats</h1>

		@if ((statsService.currentStats$ | async) !== null) {

			<div class="stat-display-simple">
				<h3>
					<app-rolling-counter
						[value]="(statsService.currentStats$ | async)?.total_requests!"
					></app-rolling-counter>
				</h3>
				<div>Total requests</div>
			</div>
			<hr>
			<div class="stat-display-simple">
				<h3>
					<app-rolling-counter
						[value]="60 * 60 * 24 * 1000"
						[format]="msToDaysHoursMinutes"
					></app-rolling-counter>
				</h3>
				<div>Total time listened</div>
			</div>
		} @else {
			<app-spinner></app-spinner>
		}


	</section>
</div>
